<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>potion</string>
		<key>small_description</key>
		<string>Un truc dans Pokémon qui ramène de la vie. Je crois 20 pv. C&apos;est peu.</string>
		<key>number</key>
		<integer>10</integer>
		<key>name</key>
		<string>Potion</string>
		<key>description</key>
		<string>poulet</string>
		<key>type</key>
		<string>healt</string>
	</dict>
	<dict>
		<key>image</key>
		<string>pokeball_item</string>
		<key>small_description</key>
		<string>Une Pokéball pour les attraper tous, une Pokéball pour les trouver tous et dans les ténébres les réunir.</string>
		<key>number</key>
		<integer>1</integer>
		<key>name</key>
		<string>Pokéball Unique</string>
		<key>description</key>
		<string>Une Pokéball pour les attraper tous</string>
		<key>type</key>
		<string>pokeball</string>
	</dict>
</array>
</plist>
